{% extends "base.html"%}
{% block content %}
<form method="POST">
    {{ form.hidden_tag() }}
    <p>
        {{ form.email.label}} <br>
        {{form.email(class="form form-control", type="email")}}
    </p>
    <p>
        {{ form.password.label}} <br>
        {{form.password(class="form form-control", type="password")}}
    </p>
    <p>
        {{ form.passwordAgain.label}} <br>
        {{form.passwordAgain(class="form form-control", type="password")}}
    </p>
    <p>
        {{ form.username.label}} <br>
        {{form.username(class="form form-control", type="text")}}
    </p>
    <p>
        {{ form.about.label}} <br>
        {{form.about(class="form form-control", type="text")}}
    </p>
    <p>
        {{form.submit(class="btn btn-primary", type="submit")}}
    </p>
    {%if message %}
    <p class="alert alert-danger" role="alert">{{message}}</p>
    {% endif %}
</form>
{% endblock %}